In [9]:
import pandas as pd

data = {'Name': ['Alice', 'Yoshva', 'Charlie'], 'Age': [24, 25, 26],'City': ['Trichy', 'Kumbakonam', 'Madurai']}
df = pd.DataFrame(data)
print(df)

      Name  Age        City
0    Alice   24      Trichy
1   Yoshva   25  Kumbakonam
2  Charlie   26     Madurai

In [10]:
import pandas as pd
df=pd.read_csv('sample.csv')
print(df.head())

            Name   Age          City                     Email
0       John Doe    29      New York        john.doe@email.com
1     Jane Smith    34   Los Angeles      jane.smith@email.com
2   Mark Johnson    45       Chicago    mark.johnson@email.com
3    Emily Davis    22       Houston     emily.davis@email.com
4  Michael Brown    38       Phoenix   michael.brown@email.com

In [12]:
import pandas as pd
df=pd.read_csv('sample.csv')
print(df.tail())

              Name   Age           City                       Email
5     Sarah Wilson    26   Philadelphia      sarah.wilson@email.com
6      David Moore    41    San Antonio       david.moore@email.com
7    Sophia Taylor    30      San Diego     sophia.taylor@email.com
8   James Anderson    50         Dallas    james.anderson@email.com
9  Isabella Thomas    28         Austin   isabella.thomas@email.com

In [5]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, None, 4], 'B': [None, 2, 3, 4]})
df_cleaned = df.dropna()
print(df_cleaned)

     A    B
1  2.0  2.0
3  4.0  4.0

In [7]:
import pandas as pd
df=pd.DataFrame({'A':[1,2,3,4],'B':[5,6,7,8]})
filterd_data=df[df['A']>2]
print(filterd_data)

   A  B
2  3  7
3  4  8

In [9]:
import pandas as pd
df=pd.DataFrame({'A':['Foo','Boo','Foo','Boo'],'B':[1,2,3,4]})
grouped=df.groupby('A').sum()
print(grouped)

     B
A
Boo  6
Foo  4

In [11]:
import pandas as pd
df1=pd.DataFrame({'A':['Foo','Bat'],'B':[1,2]})
df2=pd.DataFrame({'A':['Foo','Bat'],'C':[3,4]})
merged_df=pd.merge(df1,df2,on='A')
print(merged_df)

     A  B  C
0  Foo  1  3
1  Bat  2  4